.git
.dart_tool
build
.idea
.metadata
.flutter-plugins-dependencies
pubspec.lock
android/app/build
ios/Flutter/.last_build_id
linux/flutter/generated*
macos/Flutter/ephemeral
windows/flutter/generated*
main.dart.js
flutter.js
flutter_bootstrap.js
flutter_service_worker.js
canvaskit
assets/AssetManifest.bin
assets/AssetManifest.bin.json
assets/FontManifest.json
assets/NOTICES